<div class="user-page-background">
    <div class="overlay"></div>

    <div class="container my-4 content-wrapper">
        <h2 class="text-center mb-4 text-white">👥 All Users</h2>

        <!-- Dropdown Filter -->
        <div class="filter-section text-end mb-4">
            <label for="role" class="filter-label text-white me-2">🔍 Search by Role:</label>
            <div class="custom-dropdown-wrapper d-inline-block">
                <select [(ngModel)]="selectedRole" (change)="onRoleChange()" id="role" class="custom-dropdown">
                    <option *ngFor="let role of roles" [value]="role">{{ role }}</option>
                </select>
            </div>
        </div>

        <!-- User Cards Grid -->
        <div class="row g-4">
            <div class="col-md-4" *ngFor="let user of userList">
                <div class="card user-card text-center">
                    <div class="card-body">
                        <img [src]="user.photo" class="rounded-circle mb-3 user-img" width="120" height="120"
                            alt="photo" />
                        <h5 class="card-title mb-1">{{ user.name }}</h5>
                        <p class="text-muted mb-2 ">User Id : {{ user.id }}</p>
                        <p class="text-muted mb-2 ">Email : {{ user.email }}</p>
                        
                        <span class="badge bg-primary text-uppercase">{{ user.role }}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>