<div class="container my-4" *ngIf="hotel">
  <h2>{{ hotel.name }}</h2>

  <div class="row mb-4">
    <div class="col-md-6" style="padding: 1%; border-color: rgba(30, 7, 231, 0.849); background-color: darksalmon;">
      <img [src]="hotel.image" alt="{{ hotel.name }}" class="img-fluid rounded" />
    </div>
    <div class="col-md-6" style="padding: 5%; background-color: antiquewhite;">
      <h4>Address:</h4>
      <p>{{ hotel.address }}</p>

      <h4>Rating:</h4>
      <p>{{ hotel.rating }}</p>

      <h4>Location ID:</h4>
      <p>{{ hotel.location }}</p>
    </div>
  </div>

  <h3>Rooms</h3>
  <div class="row">
    <div *ngFor="let room of rooms" class="col-md-4 mb-4">
      <div class="card h-100" style="padding: 5%; border-color: black ; border: width 2px; background-color: bisque;">
        <img [src]="room.image" class="card-img-top" alt="Room Image" />
        <div class="card-body">
          <h5 class="card-title">{{ room.roomtype }}</h5>
          <p class="card-text">
            Adults: {{ room.adults }} <br />
            Children: {{ room.children }} <br />
            Price: ${{ room.price }}
          </p>
          <button class="btn btn-primary w-100" (click)="bookRoom(room)">
            Book Now
          </button>
        </div>
      </div>
    </div>
  </div>


  <!-- Loading or not found -->
  <div *ngIf="!hotel && !loading" class="text-center my-5">
    <p>Hotel not found.</p>
  </div>

  <div *ngIf="loading" class="text-center my-5">
    <p>Loading hotel details...</p>
  </div>